.education
{
    display: flex;
    width: 100%;
    /* background-color: red; */
}

.e-left
{
    flex: 1;
}
.e-right
{
    flex: 1;
}


/* Responsive */

@media screen and (max-width : 640px) {

    #Education
    {
        border-radius: 0;
        padding: 0;
        padding-top: 1rem;
        font-size: 1rem;
        width: 100%;
        height: 80rem;
    }

}